{% extends 'base.html' %}

{% block title %}Инветсоры{% endblock %}

{% block content %}
  <div>
    <h1>Инветсоры</h1>
    <p>На этой странице вы можете просмотреть список инвесторов и добавить нового инвестора.</p>
    <button class="btn-add" onclick="window.location.href = '/add_investor'">Добавить нового инвестора</button>
  </div>
  <ul>
    {% for investor  in investors  %}
    <li>
      <form action="/update_investor/{{ investor.investor_name }}" method="POST">
       <label for="investor_name_new">Имя инвестора:</label>
       <input type="text" id="investor_name_new" name="investor_name_new" value={{investor.investor_name}}><br><br>
       <input type="submit" value="Изменить">
      </form>
      <button class="btn-add" onclick="window.location.href = '/add_team_to_investor/{{ investor.investor_name }}'">Добавить новую команду</button>
      <button class="btn-delete" onclick="window.location.href = '/remove_investor/{{ investor.investor_name }}'">Удалить</button>
      <ul>
        {% for team in investor.teams  %}
        <li>
          <form action="/update_team_to_investor/{{ team.team_name }}" method="POST">
           <label for="team_name_new">Название команды:</label>
           <select id="team_name_new" name="team_name_new">
            {% for team in teams %}
              {% if team.team_name in investor.teams %}
                <option value="{{ team.team_name }}" selected>{{ team.team_name }}</option>
              {% else %}
                <option value="{{ team.team_name }}">{{ team.team_name }}</option>
              {% endif %}
            {% endfor %}
           </select><br><br>
           <input type="submit" value="Изменить">
          </form>
          <button class="btn-delete" onclick="window.location.href = '/remove_team_in_investor/{{ team.team_name }}'">Удалить</button>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
{% endblock %}