{% extends 'base.html' %}

{% block title %}Игроки{% endblock %}

{% block content %}
  <div>
    <h1>Игроки</h1>
    <p>На этой странице вы можете просмотреть список игроков и добавить нового игрока.</p>
    <button class="btn-add" onclick="window.location.href = '/add_player'">Добавить нового игрока</button>
  </div>
  <ul>
    {% for player  in players  %}
    <li>
      <form action="/update_player/{{ player.player_name }}" method="POST">
       <label for="player_name_new">Имя игрока:</label>
       <input type="text" id="player_name_new" name="player_name_new" value={{player.player_name}}><br><br>
       <label for="player_name_new">Название команды:</label>
       <select id="team_name_new" name="team_name_new">
        {% for team in teams %}
          {% if team.team_name == player.team.team_name %}
            <option value="{{ team.team_name }}" selected>{{ team.team_name }}</option>
          {% else %}
            <option value="{{ team.team_name }}">{{ team.team_name }}</option>
          {% endif %}
        {% endfor %}
       </select><br><br>
       <input type="submit" value="Изменить">
      </form>
      <button class="btn-delete" onclick="window.location.href = '/remove_player/{{ player.player_name }}'">Удалить</button>
    </li>
    {% endfor %}
  </ul>
{% endblock %}