{% extends 'base.html' %}

{% block title %}Команды{% endblock %}

{% block content %}
  <div>
    <h1>Команды</h1>
    <p>На этой странице вы можете просмотреть список команд и добавить новую команду.</p>
    <button class="btn-add" onclick="window.location.href = '/add_team'">Добавить новую комнду</button>
  </div>
  <div>
      <form action="/add_team" method="POST">
       <label for="team_name">Команда:</label>
       <input type="text" id="team_name" name="team_name"><br><br>
       <input type="submit" value="Добавить">
      </form>
  </div>
{% endblock %}