{% extends 'base.html' %}

{% block title %}Инветсоры{% endblock %}

{% block content %}
  <div>
    <h1>Инветсоры</h1>
    <p>На этой странице вы можете просмотреть список инвесторов и добавить нового инвестора.</p>
    <button class="btn-add" onclick="window.location.href = '/add_investor'">Добавить нового инвестора</button>
  </div>
  <ul>
    {% for investor  in investors  %}
    <li>
      <h3>{{ investor.investor_name }}</h3>
      <button class="btn-edit">Редактировать</button>
      <button class="btn-delete" onclick="window.location.href = '/remove_investor/{{ investor.investor_name }}'">Удалить</button>
    </li>
    {% endfor %}
  </ul>
{% endblock %}