{% extends 'base.html' %}

{% block title %}Матчи{% endblock %}

{% block content %}
  <div>
    <h1>Матчи</h1>
    <p>На этой странице вы можете просмотреть список матчей и добавить новый матч.</p>
    <button class="btn-add" onclick="window.location.href = '/add_match'">Добавить новый матч</button>
  </div>
  <ul>
    {% for match in matches %}
    <li>
      <h2>{{ match[1] }} vs {{ match[2] }}</h2>
      <p>Итоговый счет: {{ match[3] }}</p>
      <button class="btn-edit">Редактировать</button>
      <button class="btn-delete">Удалить</button>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
